body {
    background: #f0f3f5;
    color: #fff;
}

h2 {
    color: #b00808;
    font-family: michroma;
}

.img {
    margin-bottom: -60px;
}

.columna {
    margin-bottom: 50px;
}

.card1 {
    background: #efefef;
}

.columna2 {
    margin-top: 70px;
}

::placeholder {
    color: grey;
    opacity: 0.9;
}